html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background-image: url("assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  margin: 0 15%; }

header .subscribe {
  display: inline-block;
  font-size: 13px;
  padding-bottom: 1rem;
  color: white; }
  header .subscribe i {
    font-size: 5px;
    vertical-align: middle; }
header .socDots {
  display: inline-block;
  font-size: 5px;
  width: 1%;
  float: right;
  padding-right: 2.5%;
  color: white; }
header .socMedia {
  float: right;
  font-size: 20px; }
header .sk8r-options::after {
  content: '';
  display: block;
  clear: both; }
header .topButtons {
  width: 25%;
  font-size: 8px;
  margin: 0;
  padding: 0;
  float: left;
  color: white;
  background-color: #B4292E; }
header .splash {
  position: relative; }
  header .splash .splash-backdrop {
    width: 100%;
    border: 3px solid white; }
  header .splash .logo {
    width: 33%;
    position: absolute;
    top: 4rem;
    left: 5%; }
header .dots {
  text-align: center;
  color: white; }

.columns {
  max-width: 12;
  margin-left: auto;
  margin-right: auto; }
  .columns::after {
    clear: both;
    content: "";
    display: block; }
  .columns article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    background: white;
    padding: 1rem;
    font-size: 10px;
    height: 8rem;
    position: relative; }
    .columns article:last-child {
      margin-right: 0; }
    .columns article h5 {
      padding: 0;
      margin-bottom: .2rem; }
    .columns article span {
      font-size: 5px;
      display: none; }
    .columns article p {
      display: none; }
    .columns article a {
      position: absolute;
      bottom: 1rem; }

.people {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem; }
  .people::after {
    clear: both;
    content: "";
    display: block; }
  .people .sk8rs {
    border: 3px solid white; }
    .people .sk8rs img {
      width: 100%; }
  .people .guys1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .people .guys1:last-child {
      margin-right: 0; }
  .people .guy3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .people .guy3:last-child {
      margin-right: 0; }
  .people .guy4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .people .guy4:last-child {
      margin-right: 0; }

footer {
  background-color: white;
  text-align: center; }
  footer form {
    padding: 0;
    text-align: center;
    margin-right: 1rem; }
    footer form textarea.msg {
      width: 10.7rem; }
    footer form div {
      margin-top: 1rem; }
    footer form .button button {
      color: white;
      background-color: #B4292E; }

.boards {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 2rem; }
  .boards::after {
    clear: both;
    content: "";
    display: block; }
  .boards img {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 7.44167%; }
    .boards img:last-child {
      margin-right: 0; }

/*# sourceMappingURL=main.css.map */
