footer {
  background-color: white;
  text-align: center;

  .botSocials {
    display: none;
  }

  form {
    padding: 0;
    text-align: center;
    margin-right: 1rem;

    textarea.msg {
      width: 10.7rem;
    }

    div {
      margin-top: 1rem;


    }
    .submit button {
      color: white;
      background-color: #B4292E;
    }
  }
}
@media (min-width: 480px) {

footer {
    .botSocials {
      display: inline;
    }

    @include outer-container();

    .contact-info {
      @include span-columns(6 of 12);
    }
    .contactForm {
      @include span-columns(6 of 12);
      margin-top: 2rem;

      div {

      }
    }
}
  }
