header {
  .subscribe {
    display: inline-block;
    font-size: 13px;
    padding-bottom: 1rem;
    color: white;

    i {
      font-size: 5px;
      vertical-align: middle;
    }
  }

  .socDots {
    display: inline-block;
    font-size: 5px;
    width: 1%;
    float: right;
    padding-right: 2.5%;
    color: white;
  }

  .socMedia {
    float: right;
    font-size: 20px;

    .fa-facebook-square {
      color: #4862A3;
    }
    .fa-twitter-square {
      color: #55ACEE;
    }
    .fa-rss-square {
      color: #F99A39;
    }
    .fa-youtube-square {
      color: #B2382D;
    }
  }
  .sk8r-options::after {
    content: '';
    display: block;
    clear: both;
  }

  .topButtons {
    width: 25%;
    font-size: 8px;
    margin: 0;
    padding: 0;
    float: left;
    color: white;
    background-color: #B4292E;
  }

  .splash {
  position: relative;


    .splash-backdrop {
      width: 100%;
      border: 3px solid white;
    }

    .logo {
      width: 33%;
      position: absolute;
      top: 4rem;
      left: 5%;

    }

  }
    .dots {
      text-align: center;
      color: white;
    }

}
