.people {
  @include outer-container();
  margin-top: 2rem;

  .sk8rs {

    position: relative;

    span {
      color: white;
      position: absolute;
      top: 3rem;
      right: 10%;
      left: 10%;
      bottom: 3rem;
    }

    img {
      width: 100%;
      border: 3px solid white;
    }
  }



}
@media(min-width: 650px) {
  .people {
    height: 14rem;
    position: relative;
  }
  .guys1 {
    @include span-columns(4 of 12);
    height: 6rem;

  }
  .guy3 {
    @include span-columns(4 of 12);
    position: absolute;
    height: 14rem;
    top: -6rem;
    img {
      height: 111%;
    }
  }
  .guy4 {
    @include span-columns(8 of 12);
    height: 6.5rem;
    margin-top: 3rem;

    img {
      height: 100%;
    }

  }
}
