.people {
  @include outer-container;
  margin-top: 2rem;
  width: 100%;

  .sk8rs {
    width: 100%;
    position: relative;
    border: 3px solid white;
    margin-top: 1rem;
    height: 20rem;

  &:first-child {
    @include span-columns(12 of 12);
    background-image: url('assets/sk8er-4.png');
    background-position: center;
    background-size: cover;
  }
  &:nth-child(2) {
    @include span-columns(12 of 12);
    background-image: url("assets/sk8er-3.png");
    background-position: center;
    background-size: cover;
  }
  &:nth-child(4) {
    @include span-columns(12 of 12);
    background-image: url("assets/sk8er-2.png");
    background-position: center;
    background-size: cover;
  }
  &:nth-child(3) {
    @include span-columns(12 of 12);
    background-image: url("assets/sk8er-1.png");
    background-position: center;
    background-size: cover;
  }
    span {
      color: white;

    }
  }


}
@media(min-width: 650px) {
  .people {
    @include outer-container;

  &:first-child {
    @include span-columns(4 of 12);
  }
  &:nth-child(2) {
    @include span-columns(4 of 12);
  }
  &:nth-child(4) {
    @include span-columns(4 of 12);
  }
  &:nth-child(3) {
    @include span-columns(8 of 12);
  }

}
}
