.people {
  @include outer-container();
  margin-top: 2rem;

  .sk8rs {

    position: relative;

    span {
      color: white;
      position: absolute;
      top: 3rem;
      right: 10%;
    }

    img {
      width: 100%;
      border: 3px solid white;
    }
  }



}
@media(min-width: 480px) {
  .guys1 {
    @include span-columns(4 of 12);

  }
  .guy3{
    @include span-columns(4 of 12);
  }
  .guy4 {
    @include span-columns(8 of 12);

  }
}
